<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <a class="navbar-brand" href="/"><i class="fas fa-cogs"></i> 
          <span style="color: white;">
              <b> Uniqtor</b>
          </span>
        </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/generators">Generators</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/converters">Converters</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Compressors</a>
        <div class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
          <a class="dropdown-item" href="/ua">Url</a>
          <a class="dropdown-item" href="/ba">Message</a>
        </div>
      </li>
    </ul>
  </div>
  <h5 style="text-align-last: right; width: 40px">
      <div *ngIf="isUp" data-toggle="tooltip" data-placement="bottom" title="Backend is UP"><i class="far fa-dot-circle"></i></div>
  </h5>
</nav>