
.item {
    align-self: center;
    margin-top: 10px;
}

.fa-hand-point-up {
    color: greenyellow
}
.fa-dot-circle {
    color: greenyellow
}
.fa-hand-point-down {
    color: red
}
#current a { color: #ff0000; }